p{




}

body{

	background-color: red;


}

#mainbutton{

margin-left: 5%;
margin-bottom:2%;
background-color: red;
color: lime;
padding: 15px 20px;
display: inline-block;
font-size: 24px;
}

#topbar{

	min-height: 0px;
	width:100%;
	background-color:MidnightBlue;

}

#topbar p{

	font-size: 6vmin;
	display: inline-block;
	margin-top:6%:
	margin-left:10%;

}
