p{
	
color: lime;

}

body{

<<<<<<< HEAD
	background-color: red;
=======
	background-color: white;
>>>>>>> ed698d0d218aaa6b742ccbcb18509d0ed5d0a849

}

#topbar{

	min-height: 0px;
	width:100%;
	background-color:MidnightBlue;

}

#topbar p{

	font-size: 6vmin;
	display: inline-block;
	margin-top:6%:
	margin-left:10%;

}
